* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul > li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.hero {
    background-color: #F2CEDA;
    height: 100vh;
}

.hero__content {
    padding-top: 186px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    padding: 25px 0px;
    justify-content: space-between;
}

.logo {
    width: 52px;
    height: 42px;
    display: block;
}

.nav__list {
    display: flex;
}

.nav__item {
    margin-right: 20px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: #150101;
}

.btn {
    background: #D23166;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #FAFAFA;
    padding: 15px 36px;
    border: none;
}

.hero__info {
    color: #0F0101;
}

.hero__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    margin-bottom: 6px;
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 57px;
    line-height: 1.18;
}

.hero__title {
    margin-bottom: 35px;
}

.hero__desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    color: rgb(15, 1, 1, 0.6);
    margin-bottom: 50px;
}